<h1 class="home-title">Unimedia E-Competition</h1>
<div class="home-detail">
Юнимедиа Солюшнс ХХК нь Японы "Юнимедиа" группын гишүүн, Монголын шилдэг мэргэжилтнүүдээр багаа бүрдүүлж чадсан, мэдээллийн технологийн салбарт хүчтэй өрсөлдөгчдийн нэг юм.
Монгол-Японы соёлын сайн талуудыг хослуулж чадсанаар шинийг эрэлхийлж, хурд-чанараар бусдаас ялгарч чаддаг.
Мөн нэгэн зорилготой, бие биенээ хүндэлдэг, хөгжүүлдэг, нэг гэр бүл шиг байж чаддаг нь манай компанийн онцлог билээ.
</div>
<div class="home-detail">
  Энэхүү баримт бичигт онлайнаар програмчлалын тэмцээн зохион байгуулах болон даалгавар
  гүйцэтгэн тэмцээнд оролцох боломжоор хангах системийн ерөнхий загварыг тодорхойлно.
</div>
<div class="home-detail">
Системийн гол зорилго нь веб платформд програмчлалын уралдааныг тодорхой хугацааны
туршид зарлаж газарзүйн байрлал хамаарахгүй хүн бүр уралдаанд оролцох боломж бүрдүүлэх.
</div>
