  <div class="container">
      <nav class="navbar navbar-head">
      </nav>
      <nav>
        <ul class="footer">
          <li><%= link_to "Home", "/"%></li>
          <li><%= link_to "Competitions", "/competitions"%></li>
          <li><%= link_to "Our Company", "http://unimedia.mn/"%></li>
          <li><%= link_to "Contact Us", "http://unimedia.mn/#sec-6"%></li>
        </ul>
      </nav>
      <p style="display: block; margin-top: 100px;"><center>Copyright © 2018 Unimedia Solutions LLC</p>
    </div>

<style media="screen">
ul.footer {
    width: 430px;
    margin: auto;
    text-align: center;
    list-style: none;
}

ul.footer li {
  float: left;
  padding-right: 20px;
}
</style>
